@import "utils/var", "utils/mixins", "utils/custom_mixins";

@import "base/reset", "base/typography", "base/base", "base/share";

@import "layout/header", "layout/main", "layout/footer";

@import "pages/home", "pages/login", "pages/loading", "pages/staking",
  "pages/staking-info", "pages/withdraw";

@import "library/swup";

@import "components/language-select", "components/coming-soon",
  "components/input-box", "components/radio-button", "components/select-box",
  "components/textarea", "components/check-box", "components/clause-box",
  "components/grid", "components/spinner", "components/pagination",
  "components/search-box", "components/confirm-button", "components/edit-form",
  "components/file-upload", "components/ie-caution", "components/telegram-login",
  "components/slide-header";

body {
  overflow: auto;

  &.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
