section#home {
  max-width: 800px;
  margin: 0 auto;
  position: relative;

  @import "../article/topContainer";
  @import "../article/tab";
  @import "../article/transactionList";
  @import "../article/sendContainer";
  @import "../article/stakingContainer";
  @import "../article/infoContainer";

  .sliding {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    transform: translate(100%, 0);
    width: 100%;
    max-width: 800px;
    height: 100vh;
    background-color: white;
    overflow-y: scroll;
    padding: 0 12px;
    transition: 0.25s;

    &.on {
      transform: translate(0, 0);

      @media (min-width: 1024px) {
        right: 50%;
        transform: translate(50%, 0);
      }
    }
  }
}
