section#home {
  max-width: 800px;
  margin: 0 auto;
  position: relative;

  .top-container {
    position: relative;
    width: 96%;
    height: 250px;
    margin: 0 auto 20px;
    padding: 0 20px;
    border-radius: 0 0 8px 8px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);

    .balance {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      dl {
        margin-bottom: 30px;

        &.gram {
          font-weight: bold;

          dt {
            font-size: 16px;
            margin-bottom: 3px;
            margin-left: 2px;
          }

          dd {
            font-size: 31px;
            font-weight: 200;
          }
        }
      }

      .receive {
        width: 100%;
        opacity: 0.5;
        margin-bottom: -30px;

        p {
          margin-bottom: 5px;
          font-size: 13px;
        }

        .box {
          display: flex;
          align-items: center;

          .address {
            width: 94%;
            word-break: break-all;
            padding-right: 10px;
            font-size: 13px;
          }

          .copy-icon {
            flex: 1;
            cursor: pointer;

            img {
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  ul.list {
    width: 96%;
    margin: 0 auto;

    li {
      position: relative;
      padding: 30px 10px;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 220px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:last-child {
        &::before {
          content: "";
          display: none;
        }
      }

      &.deposit {
        dl {
          &:first-child {
            dt {
              color: lightseagreen;
            }
          }
        }
      }
      &.withdraw {
        dl {
          &:first-child {
            dt {
              color: lightsalmon;
            }
          }
        }
      }

      dl {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &:first-child {
          align-items: center;

          dt {
            font-size: 16px;
          }

          dd {
            opacity: 1;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        dt {
          min-width: 40px;
          margin-right: 16px;
        }

        dd {
          word-break: break-all;
          text-align: right;
          font-size: 0.95em;
          opacity: 0.5;
        }
      }
    }
  }

  .send {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 0.88rem;
    color: lightskyblue;
    cursor: pointer;

    @media (min-width: 768px) {
      top: 2rem;
      right: 3rem;
    }
  }

  .send-container {
    $wrapperHeight: 92;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    transition: 0.25s;

    &.on {
      transform: translate(-50%, 100%);

      .cover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //   background-color: rgba(0, 0, 0, 0.5);
    }

    .wrapper {
      position: relative;
      width: 96%;
      height: $wrapperHeight + vh;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 0 0 8px 8px;
      padding: 0 20px;

      h3 {
        padding: 100px 0;
        text-align: center;
      }

      form {
        max-width: 500px;
        margin: 0 auto;

        label {
          display: flex;
          flex-direction: column;
          position: relative;
          margin-bottom: 4rem;

          input {
            position: relative;
            order: 2;
            display: block;
            height: 32px;
            width: 100%;
            border: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            transition: 0.2s;
            font-size: 14px;

            @media (min-width: 768px) {
              font-size: 15px;
            }

            @media (min-width: 1366px) {
              font-size: 16px;
            }

            &:focus {
              border-bottom: 1px solid rgba(0, 0, 0, 1);

              & + p {
                opacity: 1;
              }
            }
          }

          p {
            order: 1;
            opacity: 0.6;
          }
        }

        input[type="submit"] {
          display: block;
          width: 140px;
          height: 36px;
          background-color: lightskyblue;
          border: 0;
          border-radius: 4px;
          font-size: 14px;
          color: #eee;
          margin: 0 auto;
        }
      }
    }

    .close {
      position: relative;
      //   border: 1px solid red;
      height: 100 - $wrapperHeight + vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .box {
        position: relative;
        width: 45px;
        height: 45px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;

        @media (min-width: 768px) {
          width: 50px;
          height: 50px;
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          display: inline-block;
          width: 50%;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.6);
        }

        &::before {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}
