section#home {
  max-width: 800px;
  margin: 0 auto;
  position: relative;

  @import "../article/topContainer";
  @import "../article/tab";
  @import "../article/transactionList";
  // @import "../article/sendContainer";
  @import "../article/sendComponent";
  @import "../article/stakingContainer";
  @import "../article/infoContainer";

  .sliding {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    transform: translate(100%, 0);
    width: 100%;
    max-width: 800px;
    height: 100vh;
    background-color: white;
    overflow-y: scroll;
    padding: 0 12px;
    transition: 0.25s;

    &.on {
      transform: translate(0, 0);

      @media (min-width: 1024px) {
        right: 50%;
        transform: translate(50%, 0);
      }
    }
  }

  .top-btn {
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 99999;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    box-shadow: 2px 5px 15px rgba(169, 239, 241, 0.432);
    background-color: white;
    background-image: url("https://icongr.am/clarity/angle-double.svg?size=30&color=818181");
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    // background-color: #818181;
    // filter: blur(1px);

    @media (min-width: 1024px) {
      width: 60px;
      height: 60px;
      right: 50%;
      transform: translate(380px, 0);
    }
  }
}
