ul.tab {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 20px;

  @media (min-width: 768px) {
    padding: 20px 10px;
  }

  li {
    width: 120px;
    height: 36px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    cursor: pointer;

    &.withdraw-btn {
      // background-color: lightcoral;
      color: $turquoise;
      border: 1px solid $turquoise;
    }

    &.staking-btn {
      background-color: $turquoise;
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
