.top-container {
  position: relative;
  width: 96%;
  height: 250px;
  margin: 20px auto 0px;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    margin-top: 30px;
  }

  .wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      h2 {
        color: $turquoise;
      }

      a.logo {
        img {
          width: 70px;
          // height: 18.77px;
          height: 27.72px;
          margin-bottom: -7px;

          @media (min-width: 768px) {
            width: 80px;
            // height: 20.11px;
            height: 31.69px;
          }
        }
      }

      figure.profile {
        display: flex;
        align-items: center;
        color: #0088cc;
        font-size: 13px;

        @media (min-width: 768px) {
          font-size: 14px;
        }

        img {
          width: 22px;
          height: 22px;
          margin-right: 3px;

          @media (min-width: 768px) {
            width: 24px;
            height: 24px;
            margin-right: 4px;
          }
        }

        figcaption {
          margin-top: -1px;
        }
      }
    }

    dl {
      &.gram {
        dt {
          font-size: 18px;
          margin-bottom: 3px;
          margin-left: 2px;
          font-weight: bold;

          &::after {
            content: "•미생성";
            display: inline-block;
            position: relative;
            top: -1px;
            font-size: 12px;
            color: gray;
            font-weight: normal;
            padding-left: 10px;
          }
          &.uninit {
            &::after {
              content: "•비활성화";
              color: #40739e;
            }
          }
          &.active {
            &::after {
              content: "•활성화";
              color: #1dd1a1;
            }
          }
          &.frozen {
            &::after {
              content: "•휴면";
              color: $orange;
            }
          }
        }

        dd {
          font-size: 33px;
          font-weight: 400;
          font-family: "Spoqa Han KR", sans-serif;
        }
      }
    }

    .receive {
      width: 100%;
      // opacity: 0.5;
      font-size: 13px;
      color: #969696;

      @media (min-width: 768px) {
        font-size: 14px;
      }

      p {
        margin-bottom: 5px;
      }

      .box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #address,
        .copy-icon {
          cursor: pointer;
          cursor: pointer;
        }

        #address {
          word-break: break-all;
          padding-right: 10px;
        }

        .copy-icon {
          position: relative;

          img {
            margin: 0 auto;
          }

          &.modal {
            &::before {
              content: "✅ Copied !";
              position: absolute;
              top: 0;
              left: 50%;
              transform: translate(-59%, -120%);
              display: flex;
              justify-content: center;
              align-items: center;
              width: 90px;
              height: 26px;
              font-size: 13px;
              border-radius: 3px;
              background-color: rgba(0, 0, 0, 0.7);
              box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
              color: white;

              @media (min-width: 600px) {
                transform: translate(-50%, -120%);
              }
            }
          }
        }
      }
    }
  }
}
