.transaction-list {
  margin: 0 auto;
  padding: 10px 0px 70px;
  background-color: $turquoise;

  @media (min-width: 1024px) {
    margin: 0 16px;
    border-radius: 8px 8px 0 0;
  }

  &.empty {
    .comment {
      display: block;
      padding-top: 4em;
      color: #fff;
      text-align: center;
      font-size: 1.2rem;
    }

    button,
    ul {
      display: none;
    }
  }

  .comment {
    display: none;
  }

  ul {
    background-color: $turquoise;
  }

  li {
    position: relative;
    padding: 30px 14px;

    @media (min-width: 768px) {
      padding: 30px 20px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 220px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.3);
    }

    &.deposit-card,
    &.withdraw-card {
      dl {
        &:first-child {
          dt {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -6px;
            border-radius: 4px;
            padding: 3px 0;
            color: #fff;
          }
        }
      }
    }

    &.deposit-card {
      dl {
        &:first-child {
          dt {
            background-color: $orange;
          }
        }
      }
    }
    &.withdraw-card {
      dl {
        &:first-child {
          dt {
            background-color: #62a2e3;
          }
        }
      }
    }

    dl {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      &:first-child {
        align-items: center;

        dt {
          font-size: 15px;

          @media (min-width: 768px) {
            font-size: 16px;
          }
        }

        dd {
          opacity: 1;
          font-size: 1em;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      dt {
        min-width: 40px;
        margin-right: 16px;
        // color: #484d55;
        color: #fff;
      }

      dd {
        word-break: break-all;
        text-align: right;
        font-size: 0.95em;
        color: #fff;
        opacity: 0.5;
      }
    }
  }
}

button.more-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 360px;
  height: 43px;
  background-color: $turquoise;
  color: #fff;
  border: 0;
  border-radius: 2px;
  margin: 50px auto 0;
  font-size: 15px;
  cursor: pointer;
}
