mixin slideHeader(title)
    .slide-header&attributes(attributes)
        - var href
        if title == '스테이킹' || title == '출금하기'
            - var href = '/index'
            a(href=`${href}.html`).back
                img(src="/assets/images/symbols/chevron-left.svg", alt="뒤로가기")
            h4.title= title
            a(href="/index.html").home
                img(src="/assets/images/symbols/home.svg", alt="")
        if title == '스테이킹?' || title == '스테이킹 참여'
            - var href = '/html/staking'
            a(href=`${href}.html`).back
                img(src="/assets/images/symbols/chevron-left.svg", alt="뒤로가기")
            h4.title= title
            a(href="/index.html").home
                img(src="/assets/images/symbols/home.svg", alt="")