mixin slideHeader(title)
    .slide-header&attributes(attributes)
        a(href="#body").back
            img(src="/assets/images/symbols/chevron-left.svg", alt="뒤로가기")
        h4.title= title
        a(href="/index.html").home
            img(src="/assets/images/symbols/home.svg", alt="")