extends ./_layout
include ./components/telegramLogin
include ./components/slideHeader


block main
    section#home
        .top-container
            .wrapper
                .header
                    figure.logo
                        img(src="", alt="")
                    figure.profile
                        img
                        figcaption UserName
                    
                dl.gram
                    // 지갑이 활성화가 되면 active 클래스를 붙인다.
                    dt.active 보유수량
                    dd.number 2630009.123456789
                .receive
                    p 그램주소
                    .box
                        #address -1:d88335c70d437a2a9201383b1b17c6a88d80416d6d79c244505708dfe179885d
                        figure.copy-icon(data-clipboard-target="#address")
                            img(src="https://icongr.am/clarity/copy.svg?size=22&color=000000", alt="")
        ul.tab
            li.withdraw-btn
                span 출금하기
            li.staking-btn
                span 스테이킹
        ul.transaction-list
            - for(var i = 0; i < 10; i++)
                if i % 2 == 0
                    li.withdraw-card
                        dl
                            dt 출금
                            dd 완료
                        dl
                            dt 금액
                            dd 9999.99999999
                        dl
                            dt 날짜
                            dd 2020.06.03 14:36:48
                        dl
                            dt 거래ID
                            dd cbcf590b806ad3669c7b8d07274897e426391a5504121385f5bc5c349c3a48ba
                else
                    li.deposit-card 
                        dl
                            dt 입금
                            dd 완료
                        dl
                            dt 금액
                            dd 9999.99999999
                        dl
                            dt 날짜
                            dd 2020.06.03 14:36:48
                        dl
                            dt 거래ID
                            dd cbcf590b806ad3669c7b8d07274897e426391a5504121385f5bc5c349c3a48ba

        //- 출금
        .send-container.sliding
            +slideHeader('출금하기').send
            .form-wrapper.centered
                form(action="")
                    label
                        input(type="text")
                        p 주소
                    label
                        input(type="text")
                        p 금액
                    button(type='button') 출 금

        //- 스테이킹
        .staking-container.sliding
            +slideHeader('스테이킹').staking
            .wrap-dashboard
                dl.staked
                    dt 스테이킹 참여 수량
                    dd 30000.023456789
                dl.total-reward
                    dt 총 보상 수량
                    dd 1000.023456789
                dl.next-reward
                    dt 다음 사이클 보상 예상 수량
                    dd 80.023456789
                button(type='button').move-info-btn
                    img(src="https://icongr.am/clarity/error.svg?size=26&color=000000", alt="")
            form(action="").participation-set
                .box
                    dl
                        dt 참여 가능한 수량
                        dd 200006.023456789
                    .input-group
                        input(type="text" placeholder="0")
                        span 참여하기
            .reward-set
                .title 보상내역
                ul.list
                    - for (var i = 0; i < 10; i++)
                        li 
                            dl.date
                                dt 기간 
                                dd 2020.6.8 ~ 2020.6.15
                            dl.rate
                                dt 수익율
                                dd 6.17%
                            dl.return
                                dt 수량
                                dd 27.024567899

        //- FAQ
        .info-container.sliding
            +slideHeader('스테이킹 참여하기').invest
            .wrapper
                .title-set
                    img(src="/assets/images/gram.png", alt="TON Logo")
                    h2 그램 스테이킹
                    strong.return 수익율 
                        b 7%
                button(type='button') 스테이킹 참여하기
                .info-set
                    p 밸리데이터 2020년 06월 08일 11시 00분까지
                    p 2일 20시간 54분 31초 남았습니다.
                    p 정해진 시간에 스냅샷을 촬영합니다. 스냅샷을 통해 고객 보유자산을 확인하고, 보유자산을 기반으로 리워드를 지급합니다.
                .faq-set
                    h4 자주 묻는 질문
                    ul.accordion
                        li.list
                            strong.title 스테이킹이 무엇인가요?
                                img(src="/assets/images/symbols/chevron-right.svg")
                            p.description FreeTON 블록체인 정책에 따라 약 연 7% 이상의 수익 발생이 예상됩니다.
                        li.list
                            strong.title 어떻게 그램 스테이킹에 참여할 수 있나요?
                                img(src="/assets/images/symbols/chevron-right.svg")
                            p.description FreeTON 블록체인 정책에 따라 약 연 7% 이상의 수익 발생이 예상됩니다.
                        li.list
                            strong.title 그램 스테이킹에 따른 예상수익율은 얼마일까요?
                                img(src="/assets/images/symbols/chevron-right.svg")
                            p.description FreeTON 블록체인 정책에 따라 약 연 7% 이상의 수익 발생이 예상됩니다.
                        li.list
                            strong.title 보상 시점은 언제인가요?
                                img(src="/assets/images/symbols/chevron-right.svg")
                            p.description FreeTON 블록체인 정책에 따라 약 연 7% 이상의 수익 발생이 예상됩니다.
                //- button(type='button') 스테이킹 참여하기