extends ./_layout
include ./components/telegramLogin
include ./components/slideHeader


block main
    section#home
        .top-container
            .wrapper
                .header
                    figure.logo
                        img(src="", alt="")
                    figure.profile
                        img
                        figcaption UserName !
                    
                dl.gram
                    // 지갑이 활성화가 되면 active 클래스를 붙인다.
                    dt.active 보유수량
                    dd.number.nano 2630009123456789
                .receive
                    p 그램주소
                    .box
                        #address -1:d88335c70d437a2a9201383b1b17c6a88d80416d6d79c244505708dfe179885d
                        figure.copy-icon(data-clipboard-target="#address")
                            img(src="https://icongr.am/clarity/copy.svg?size=22&color=000000", alt="")

        //- 버튼
        ul.tab
            li.withdraw-btn
                span 출금하기
            li.staking-btn
                span 스테이킹

        //- 거래내역
        ul.transaction-list
            - for(var i = 0; i < 10; i++)
                if i % 2 == 0
                    li.withdraw-card
                        dl
                            dt 출금
                            dd 완료
                        dl
                            dt 금액
                            dd.nano 23423499999999
                        dl
                            dt 날짜
                            dd 2020.06.03 14:36:48
                        dl
                            dt 거래ID
                            dd cbcf590b806ad3669c7b8d07274897e426391a5504121385f5bc5c349c3a48ba
                else
                    li.deposit-card 
                        dl
                            dt 입금
                            dd 완료
                        dl
                            dt 금액
                            dd.nano 9940000
                        dl
                            dt 날짜
                            dd 2020.06.03 14:36:48
                        dl
                            dt 거래ID
                            dd cbcf590b806ad3669c7b8d07274897e426391a5504121385f5bc5c349c3a48ba
        button(type="button").more-btn 더보기

        a(href="").top-btn

        //- 출금 컴포넌트
        .send-component
            .cover
            .wrapper
                h4 출금하기
                form(action="")
                    .input-group
                        input(type="text" placeholder=" ")
                        p 주소
                    .input-group
                        input(type="text" placeholder=" ").input-value
                        p 수량
                    button(type='button') 출 금


        //- 스테이킹
        .staking-container.sliding
            +slideHeader('스테이킹').staking#staking-top
            .wrap-dashboard
                dl.staked
                    dt 스테이킹 참여 수량
                    dd.nano 30000023456789
                dl.total-reward
                    dt 총 보상 수량
                    dd.nano 1000023456789
                dl.next-reward
                    dt 다음 사이클 보상 예상 수량
                    dd.nano 80023456789
                button(type='button').move-info-btn
                    | <img src="https://icongr.am/clarity/error.svg?size=26&color=000000", alt=""/>
                    | 스테이킹 
            form(action="").participation-set
                .box
                    ul
                        li.join-btn.on 참여하기
                        li.cancel-btn 참여 취소하기
                    .join.on
                        dl
                            dt 참여 가능한 수량
                            dd.nano 200006023456789
                        .input-group
                            input(type="text" placeholder="0").input-value
                            span 참여하기
                    .cancel
                        dl
                            dt 취소 가능한 수량
                            dd.nano 3342340234789
                        .input-group
                            input(type="text" placeholder="0").input-value
                            span 취소하기
            .reward-set
                .title 
                    strong.reward-btn.on 보상내역
                    strong.join-cancel-btn 참여/취소내역
                ul.reward-list.on
                    - for (var i = 0; i < 10; i++)
                        li 
                            dl.date
                                dt 기간 
                                dd 2020.6.8 ~ 2020.6.15
                            dl.rate
                                dt 수익율
                                dd 6.17%
                            dl.return
                                dt 수량
                                dd.nano 1000000000
                ul.join-cancel-list
                    - for (var i = 0; i < 10; i++)
                        if i % 2 == 0
                            li 
                                dl.kind.join
                                    dt 참여 
                                    dd
                                dl.date
                                    dt 날짜 
                                    dd 2020월 6월 15일 16:24:09
                                dl.return
                                    dt 수량
                                    dd.nano 23456790
                        else
                            li 
                                dl.kind.cancel
                                    dt 취소 
                                    dd
                                dl.date
                                    dt 날짜 
                                    dd 2020월 6월 15일 16:24:09
                                dl.return
                                    dt 수량
                                    dd.nano 3234345252567899
                button(type="button").more-btn 더보기

        //- FAQ
        .info-container.sliding
            +slideHeader('스테이킹?').invest#info-top
            .wrapper
                .title-set
                    img(src="/assets/images/gram.png", alt="TON Logo")
                    h2 그램 스테이킹
                    strong.return 수익율 
                        b 6~8%
                button(type='button').go-staking 스테이킹 참여하기
                .info-set
                    div 
                        strong 다음 사이클 
                            span &nbsp;2020년 6월 18일 14시 00분까지
                        p.time
                            time 2일 20시간 54분 31초
                            | &nbsp;남았습니다.
                    div 
                        | 정해진 시간에 스테이킹이 시작됩니다.
                        <br/> 내역을 통해 고객 보유자산을 확인하고, 보유자산을 기반으로 보상을 지급합니다.
                .faq-set
                    h4 자주 묻는 질문
                    ul.accordion
                        li.list
                            strong.title 스테이킹이 무엇인가요?
                                img(src="/assets/images/symbols/chevron-right.svg")
                            p.description 스테이킹 서비스란 저축과 유사한 개념으로 사용자가 가진 암호화폐를 블록체인 네트워크 운영에 활용할 수 있도록 맡기고, 그 대가로 수익 보상을 받는 서비스 입니다.
                        li.list
                            strong.title 어떻게 그램 스테이킹에 참여할 수 있나요?
                                img(src="/assets/images/symbols/chevron-right.svg")
                            p.description 스테이킹 페이지의 입력창에 수량을 적으시고 참여하기를 클릭하시면 다음 사이클에 참여됩니다.
                        li.list
                            strong.title 그램 스테이킹에 따른 예상수익율은 얼마일까요?
                                img(src="/assets/images/symbols/chevron-right.svg")
                            p.description FreeTON 블록체인 정책에 따라 사이클당 약 7% 이상의 수익 발생이 예상됩니다.
                        li.list
                            strong.title 보상 시점은 언제인가요?
                                img(src="/assets/images/symbols/chevron-right.svg")
                            p.description 참여한 사이클 끝나고 두 번의 사이클이 더 지난 후 지급됩니다.