
extends ../_layout

block title
    - var page = '점검 중...'


block main
    section#inspection
        .container
            .wrapper
                img(src="https://icongr.am/material/alert-circle-outline.svg?size=36&color=ffffff", alt="")
                h1 현재 서버 점검중 입니다.
                p 보다 안정적인 환경을 제공하기 위하여
                    | <br/> 현재 서버 점검을 진행 중에 있습니다.
                    | <br class="control"/> 조속히 점검을 마무리하도록 최선을 다하겠습니다.
                    | <br/> 이용에 불편을 드려 죄송합니다.
