extends ../_layout

block title
    - var page = '생성중..'

block main
    //- 지갑 생성 로딩: create-wallet, 지갑 활성화 로딩: active-wallet
    section#loading.active-wallet
        .container
            .loader
            .text
