extends ../_layout

block title
    - var page = '로그인'

block main
    section#login
        .container
            .login-wrapper
                // 텔레그램 로그인 스크립트 login-component 형제 태그로
                .login-component
                    img(src="/assets/images/sns/telegram.svg", alt="")
                    span 텔레그램 로그인