extends ../_layout
//- include ../components/slideHeader

block title
    - var page = '스테이킹'

block main
    section#staking.transition-slide
        //- 스테이킹
        .staking-container
            //- +slideHeader('스테이킹').staking#staking-top
            .wrap-dashboard
                dl.staked
                    dt 스테이킹 참여 수량
                    dd.nano 30000023456789
                dl.total-reward
                    dt 총 보상 수량
                    dd.nano 1000023456789
                dl.next-reward
                    dt 다음 사이클 보상 예상 수량
                    dd.nano 80023456789
                a(href='/html/staking-info.html').move-info-btn
                    | <img src="https://icongr.am/clarity/error.svg?size=26&color=000000", alt=""/>
                    | 스테이킹 
            a(href='/html/staking-apply.html').go-staking 스테이킹 참여하기
            .reward-set
                .title 
                    strong.reward-btn.on 보상내역
                    strong.join-cancel-btn 참여/취소내역
                .reward-bundle
                    ul.reward-list.on
                        - for (var i = 0; i < 10; i++)
                            li 
                                dl.date
                                    dt 기간 
                                    dd 2020.6.8 ~ 2020.6.15
                                dl.rate
                                    dt 수익율
                                    dd 6.17%
                                dl.return
                                    dt 수량
                                    dd.nano 1000000000
                    button(type="button")#reward_more-btn.more-btn 더보기
                .join-cancel-bundle
                    ul.join-cancel-list
                        - for (var i = 0; i < 10; i++)
                            if i % 2 == 0
                                li 
                                    dl.kind.join
                                        dt 참여 
                                        dd
                                    dl.date
                                        dt 날짜 
                                        dd 2020월 6월 15일 16:24:09
                                    dl.return
                                        dt 수량
                                        dd.nano 23456790
                            else
                                li 
                                    dl.kind.cancel
                                        dt 취소 
                                        dd
                                    dl.date
                                        dt 날짜 
                                        dd 2020월 6월 15일 16:24:09
                                    dl.return
                                        dt 수량
                                        dd.nano 3234345252567899
                    button(type="button")#join_more-btn.more-btn 더보기