extends ../_layout
//- include ../components/slideHeader

block title
    - var page = '스테이킹 참여'

block main
    section#staking-apply.transition-slide
        //- 스테이킹 참여/취소 컴포넌트
        //- +slideHeader('스테이킹 참여').invest#info-top
        .wrapper
            .participation-set
                .box
                    ul.nav
                        li.join-btn.on 참여하기
                        li.cancel-btn 참여 취소하기
                    .join.on
                        dl
                            dt 참여가능
                            dd.nano.withdraw-possible 645600934835
                        form(action="")
                            .label-group
                                p.title 참여 수량
                                .input-group
                                    input(type="text" placeholder="수량입력")
                                    p.amount-max 최대
                        .caution-box
                            .bundle
                                p.title 참여 주의사항
                                -
                                    var lists = [
                                        '암호화폐 특성상 참여신청이 완료되면 취소할 수 없습니다. 보내기 전 주소와 수량을 꼭 확인해주세요.',
                                        '참여신청 완료 이후의 송금 과정은 블록체인 네트워크에서 처리됩니다. 이 과정에서 발생할 수 있는 송금 지연 등의 문제는 처리가 불가능합니다.',
                                        //- '암호화폐 입금 주소와 출금 주소는 다릅니다. 목적에 맞게 확인 후 사용하시기 바랍니다',
                                        //- '그램은 그램 지갑으로만 송금 가능합니다. 다른 디지털 자산 지갑으로 잘못 송금하는 경우 도와드릴 수 있는 부분이 없습니다.',
                                        '소수점 9자리까지 출금 가능합니다.',
                                    ]
                                ul.caution-list-wrap
                                    - for (var i = 0; i < lists.length; i++)
                                        li= lists[i] 
                            .agree-wrap
                                input(type='checkbox' id="participate-agree" hidden)
                                label(for="participate-agree")
                            button(type='button' disabled).withdraw-btn 참여신청
                    .cancel
                        dl
                            dt 취소가능
                            dd.nano.withdraw-possible 56009348353
                        form(action="")
                            .label-group
                                p.title 취소 수량
                                .input-group
                                    input(type="text" placeholder="수량입력")
                                    p.amount-max 최대
                        .caution-box
                            .bundle
                                p.title 취소 주의사항
                                -
                                    var lists = [
                                        '암호화폐 특성상 취소신청이 완료되면 취소할 수 없습니다. 보내기 전 주소와 수량을 꼭 확인해주세요.',
                                        '취소신청 완료 이후의 송금 과정은 블록체인 네트워크에서 처리됩니다. 이 과정에서 발생할 수 있는 송금 지연 등의 문제는 처리가 불가능합니다.',
                                        //- '암호화폐 입금 주소와 출금 주소는 다릅니다. 목적에 맞게 확인 후 사용하시기 바랍니다',
                                        //- '그램은 그램 지갑으로만 송금 가능합니다. 다른 디지털 자산 지갑으로 잘못 송금하는 경우 도와드릴 수 있는 부분이 없습니다.',
                                        '소수점 9자리까지 출금 가능합니다.',
                                    ]
                                ul.caution-list-wrap
                                    - for (var i = 0; i < lists.length; i++)
                                        li= lists[i] 
                            .agree-wrap
                                input(type='checkbox' id="cancel-agree" hidden)
                                label(for="cancel-agree")
                            button(type='button' disabled).withdraw-btn 취소신청