$headerHeight: 55;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 0 20px;
  backdrop-filter: blur(4px);
  // background-color: white;
  // @media (min-width: 768px) {
  //   padding: 0 30px;
  // }
  // @media (min-width: 1024px) {
  //   padding: 0 50px;
  // }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $headerHeight + px;
    max-width: 760px;
    margin: 0 auto;

    @media (min-width: 768px) {
      height: $headerHeight + 10px;
      // padding: 0 30px;
    }
    @media (min-width: 1024px) {
      // padding: 0 50px;
    }

    // a.back-button {
    //   &.hide {
    //     display: none;
    //   }

    //   img {
    //     width: 30px;
    //   }
    // }

    figure.logo {
      cursor: pointer;

      img {
        width: 75px;
        // height: 25px;

        @media (min-width: 768px) {
          width: 85px;
          // height: 30px;
        }
      }
    }

    .box {
      display: flex;
      align-items: center;
    }

    nav.desktop {
      display: none;

      @media (min-width: 1024px) {
        display: flex;
        align-items: center;
      }

      &.logined {
        ul {
          display: flex;
        }

        .telegram-login-component {
          .login-wrapper {
            display: none;
          }

          figure {
            display: flex;
          }
        }

        a.log-out {
          display: block;
        }
      }

      ul {
        display: none;
        margin-right: 60px;

        li {
          margin-right: 40px;
          opacity: 0.5;
          color: #e3ad62;
          font-size: 20px;

          &.active {
            opacity: 1;
            // font-weight: bold;
          }

          &:hover {
            opacity: 0.88;
          }

          &:last-child {
            margin-right: 0;
          }
        }

        & + div {
          margin-top: 4px;
        }
      }
      .telegram-login-component {
        .login-wrapper {
          display: flex;
        }

        figure {
          display: none;
        }
      }

      a.log-out {
        display: none;
        font-size: 10px;
        margin-left: 15px;
        margin-top: 4px;
      }
    }

    $hamburgerWidth: 25px;
    $hamburgerHeight: 17px;
    $hamburgerColor: #e3ad62;
    .hamburger {
      position: relative;
      width: $hamburgerWidth;
      height: $hamburgerHeight;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      @media (min-width: 1024px) {
        display: none;
      }

      & > div {
        width: 100%;
        height: 2px;
        background-color: $hamburgerColor;
      }
    }

    .mobile-nav-back {
      position: absolute;
      top: 0%;
      right: -100%;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);

      &.active {
        right: 0;
      }

      @media (min-width: 1024px) {
        display: none;
      }
    }

    .mobile-nav {
      position: absolute;
      top: 0%;
      right: -100%;
      min-width: 300px;
      max-width: 300px;
      height: 100vh;
      background-color: #ffffff;
      background-image: url("/assets/images/header/mobile-nav-bg.svg");
      background-repeat: no-repeat;
      background-position: 0 90%;
      background-size: 150%;
      transition: 0.2s;

      &.active {
        right: 0;
      }

      @media (min-width: 1024px) {
        display: none;
      }

      & img.close {
        width: 35px;
        margin: 20px 0 50px 20px;
        cursor: pointer;
      }

      .sign-wrapper {
        padding: 0 30px;
        display: flex;
        justify-content: center;

        &.logined {
          justify-content: space-between;

          & + ul {
            display: block;
          }

          .telegram-login-component {
            .login-wrapper {
              display: none;
            }

            figure {
              display: flex;
            }
          }

          .log-out {
            display: block;
          }
        }

        .telegram-login-component {
          .login-wrapper {
            display: flex;
          }

          figure {
            display: none;
          }
        }

        a.log-out {
          font-size: 10px;
          margin-top: 4px;
          display: none;
        }
      }

      ul {
        display: none;
        margin-top: 110px;
        margin-left: 30px;
        font-size: 20px;
        color: #e3ad62;

        li {
          margin-bottom: 40px;
          opacity: 0.6;

          &.active {
            opacity: 1;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
