main {
  position: relative;

  & > section {
    min-height: 100vh;
  }

  .number {
    font-family: "Titillium Web", sans-serif;
  }
}

.top-btn {
  position: fixed;
  right: 20px;
  bottom: 70px;
  z-index: 99999;
  display: inline-block;
  width: 55px;
  height: 55px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  box-shadow: 2px 5px 15px rgba(169, 239, 241, 0.432);
  background-color: white;
  background-image: url("https://icongr.am/clarity/angle-double.svg?size=30&color=818181");
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  // filter: blur(1px);
  opacity: 0.8;
  transition: 0.15s;

  &:hover {
    opacity: 1;
  }

  @media (min-width: 1024px) {
    width: 60px;
    height: 60px;
    right: 50%;
    transform: translate(380px, 0);
  }
}
