include ../components/telegramLogin

-
    var menus = [
        //- {
        //-     name: 'Mypage',
        //-     path: 'mypage'
        //- }, 
        {
            name: 'Wallet',
            path: 'wallet'
        }, 
    ]
header
    .wrapper
        figure.logo
            a(href="/index.html")
                img(src="/assets/images/firston.svg" alt="Logo")
        // 로그인 성공 시 .box 클래스 태그에 logined 클래스를 추가
        .box.logined
            nav.desktop
                ul
                    each m in menus
                        li(class=`active`)
                            a(href=`/html/${m.path}.html`)=m.name
                +telegramLogin()
                a(href="").log-out 로그아웃
            .hamburger
                div
                div
                div
            .mobile-nav-back
            .mobile-nav
                //- div.close
                img(src="/assets/images/symbols/chevron-right-orange.svg" alt="back").close
                .sign-wrapper
                    +telegramLogin("profile")
                    a(href="").log-out 로그아웃
                ul
                    each m in menus
                        li(class=`active`)
                            a(href=`/html/${m.path}.html`)=m.name