include ../components/telegramLogin

-
    var menus = [
        {
            name: 'Mypage',
            path: 'mypage'
        }, 
        {
            name: 'Wallet',
            path: 'wallet'
        }, 
    ]
header
    .wrapper
        figure
            a(href="/index.html")
                img(src="/assets/images/firston.svg" alt="Logo")
        .box
            nav.desktop
                // 해당 페이지 li 태그에 active 클래스 추가
                ul
                    each m in menus
                        if m.name == menus[0].name
                            li(class=`active`)
                                a(href="/index.html")= m.name
                        else
                            li
                                a(href=`/html/${m.path}.html`)= m.name
            .hamburger
                div
                div
                div
            .mobile-nav-back
            .mobile-nav
                //- div.close
                img(src="/assets/images/symbols/chevron-right-orange.svg" alt="back").close
                // 해당 페이지 li 태그에 active 클래스 추가
                +telegramLogin()
                ul
                    each m in menus
                        if m.name == menus[0].name
                            li(class=`active`)
                                a(href=`/index.html`)= m.name
                        else
                            li
                                a(href=`/html/${m.path}.html`)= m.name